/****-----------NAVBAR -------------*************/

nav img{
    width: 50%;
}
nav ul li{
    font-size: 23px;

}

#navbarNav{
    gap: 70%;
}
.cellNum{
    position: relative;
    top: 150px;

}
.cellNum img{
    width: 60px;

}
/****-----------Body -------------*************/


/*div{*/
/*    border: 2px solid black;*/
/*}*/
.start{
    position: relative;
    top: 150px;
}



.services, .message{
    position: relative;
    top: 200px;
}

.album{
    position: relative;
    top: 250px;
}
.messageImg{
    transform: rotate(-30deg);
    width: 40%;
    position: relative;
    left: 150px;
    top: 100px;

}

/****-----------Footer -------------*************/
.footer{
    position: relative;
    bottom: -250px;
    height: 60px;
    line-height: 60px;

}

