/****-----------NAVBAR -------------*************/


.cellNum img{
    width: 60px;

}
/****-----------Body -------------*************/

/*div{*/
/*    border: 2px solid black;*/
/*}*/



.messageImg{
    transform: rotate(-30deg);
    width: 40%;
    position: relative;
    left: 150px;
    top: 100px;

}

/****-----------Footer -------------*************/
.footer{
    position: relative;
    bottom: -200px;
    height: 60px;
    line-height: 60px;

}

